$backgroundColor: #1e1e1e;
$appBackground: #ffffff;
$dashBoardColor: #f7f7f9;

$colorFont: #0a041c;
$colorAppreciate: #2dc78f;
$colorDepreciate: #ea4d4d;
$colorHighlight: #7445fb;
$colorBasic: #ebebf3;
$colorInactive: #9896a1;
