@use "base";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: base.$backgroundColor;
  color: base.$colorFont;

  line-height: 1.6;
  font-family: "SF Pro Display", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;

  button,
  input {
    border: 0px;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  max-height: 900px;

  display: grid;

  grid-template-columns: minmax(264px, 18vw) 75%;
  grid-template-rows: 100%;

  column-gap: 3.5%;

  border-radius: 24px;
  background-color: base.$appBackground;
  overflow: hidden;
}
@media (max-width: 1058px) {
  #app {
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.valueIncrease,
.valueIncreaseFilled,
.valueDecrease {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.valueIncreaseFilled {
  background-image: url(./valueIncreaseFilled.svg);
}

.logo {
  background-image: url(/public/Logo.png);
}

.valueIncrease {
  background-image: url(./valueIncrease.svg);
}

.valueDecrease {
  background-image: url(./valueDecrease.svg);
}

.container > * {
  margin-left: 32px;
  margin-right: 32px;
}

.tripleDots {
  position: relative;

  background-image: url(./dots-horizontal.svg);
  height: 24px;
  width: 24px;
  background-color: transparent;
}
